<div class="row">
  <div class="col-sm-12 col-md-6 d-inline-flex mb-3">
    <span class="go_back_url_container">
      <%= link_to '<i class="fas fa-angle-left mr-2"></i> '.html_safe+v_t('back_link'), go_back_url %>
    </span>
  </div>
</div>