<div class="form-group row justify-content-end">
  <div class="col-sm-12 col-md-8">
    <div class="custom-control custom-switch">
      <%= form.check_box field_name, class: 'custom-control-input' %>
      <%= form.label field_name, ar_t(model_name + '.' + field_name), class: 'custom-control-label' %>
    </div>
  </div>
</div>